.login
{
    background-color: gainsboro;
    height: 400px;
    padding-top: 50px;

}
.frm1
{
    padding-left: 10px;
}
.btn2
{
    height: 35px;
    background-color: blue;
    color: white;
}
a
{
    margin-left: 15px;
}
.two
{
    width: 75%;

}
p
{
    color: red;
}